.profile .tab-wrap .tab-content {
    background-color: transparent;
}

.profile .top{
    margin-bottom: 15px;
}

.profile .main-profile .top,
.profile .player-profile .top {
    background-color: #3c3c3c;
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 10px;
}

.profile .main-profile .top .detail-group{
    padding: 0;
    border: none;
}

.profile .main-profile .top .fields{
    display: inline-block;
    margin-right: 15px;
}

.profile .main-profile .top .action-buttons{
    clear:none;
    display: inline-block;
    width: auto;
    float: right;
}

.profile .main-profile .top .details-block .detail-group label {
    width: 80px;
    padding-right: 10px;
}
.profile .main-profile .top .details-block .detail-group > .value-field{
    width: initial;
}

.profile .main-profile .top .details-block .action-buttons .btn{
    clear:both;
    width:60px;
}


.profile .top .tab-headers{
    float: left;
    padding-left: 0;
    margin-top: 10px;
    list-style: none;
    display: inline-block;
    clear: both;
    width: 100%;
    padding: 0 10px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.profile .top .tab-headers > li{
    display:inline-block;
    float: left;
    padding-right: 15px;
    line-height: 30px;
}

.profile .top .tab-headers li.active > a{
    color: #2dc5c3;
    border-bottom: 3px solid;
}

.profile .top .tab-headers li:not(.active) > a:hover{
    color: #fff;
    border-bottom: 3px solid #fff;
}

.profile .bottom.tab-pane{
    display: inline-block;
    width: 100%;
}

.profile .bottom.tab-pane .details-block{
    margin-top: 15px;
    margin-bottom: 15px;
}

@media(max-width: 991px) and (min-width: 768px) {
    .profile .main-profile .top .fields {
        max-width: 260px;
    }
}