.profile .tab-wrap .tab-content {
    background-color: transparent;
}

.profile .top{
    margin-bottom: 15px;
}

.profile .main-profile .top,
.profile .player-profile .top {
    background-color: #0d5253;
    display: inline-block;
    width: 100%;
    color: #fff;
}

.profile .top .tab-headers{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
}

.profile .top .tab-headers > li{
    display:inline-block;
    float: left;
    padding-right: 15px;
    line-height: 30px;
}

.profile .top .tab-headers li.active > a{
    color: #2dc5c3;
    border-bottom: 3px solid;
}

.profile .top .tab-headers li:not(.active) > a:hover{
    color: #fff;
    border-bottom: 3px solid #fff;
}

.profile .bottom.tab-pane{
    display: inline-block;
    width: 100%;
}

.profile .bottom.tab-pane .details-block{
    margin-top: 15px;
    margin-bottom: 15px;
}