<div ng-controller="courtsCtrl as courts">
    <div class="tab-wrap">
        <div class="media">
            <div class="left-side-bar">
                <div class="tab-headers pull-left">
                    <ul class="nav nav-tabs nav-stacked">
                        <li ng-class="{'active':$state.current.name.startsWith('courts.find')}" class=""><a ui-sref="courts.find" class="analistic-01">All&nbsp;Courts</a></li>
                        <li ng-class="{'active':$state.current.name.startsWith('courts.myCourts')}" class=""><a ui-sref="courts.myCourts" class="analistic-02">My&nbsp;Courts</a></li>
                        <li ng-class="{'active':$state.current.name.startsWith('courts.followed')}" class=""><a ui-sref="courts.followed" class="tehnical">Followed&nbsp;Courts</a></li>
                    </ul>
                </div>
                <ng-include src="'views/shared/side-contents/quick-links.html'"></ng-include>
            </div>
            <div class="center-content parrent media-body">
                <div class="tab-content">
                    
                <ui-view></ui-view>                    
                    
                </div> <!--/.tab-content-->
            </div> <!--/.media-body-->
            <div class="right-side-bar">
                <ng-include src="'views/shared/side-contents/featured-courts.html'"></ng-include>
            </div>
        </div> <!--/.media-->
    </div><!--/.tab-wrap-->
</div>