<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Court Registration</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="addRegisterForm" class="form-inline">
        <div class="block form-group">
            <label for="name">Court Name:</label>
            <input type="text" class="form-control" id="name" ng-model="addCourtCtrl.court.name">
        </div>
        <div class="block form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address" ng-model="addCourtCtrl.court.location">
        </div>
        <div class="form-group">
            <label for="tel-no">Contact #:</label>
            <input class="form-control" id="tel-no" ng-model="addCourtCtrl.court.contactNo">
        </div>
        <div class="rate-form-group form-group">
            <label for="rate">Rate per hour:</label>
            <input type="number" class="form-control" id="rate" ng-model="addCourtCtrl.court.rate">
        </div>
        <div class="block form-group">

            <label for="photo">Photos:</label>

            <!--For single file upload-->
            <!--<input class="form-control" type="file" file-model="addCourtCtrl.picFile" name="photo">
            <button class="btn btn-primary form-control" ng-click="addCourtCtrl.uploadPic(addCourtCtrl.picFile)">upload me</button>
            <span class="progress" ng-show="addCourtCtrl.picFile.progress >= 0">
                <div style="width:{{addCourtCtrl.picFile.progress}}%"
                     ng-bind="addCourtCtrl.picFile.progress + '%'"></div>
            </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->


            <!--For multi file upload-->
            <div class="btn btn-primary" ngf-select="addCourtCtrl.uploadFiles($files)" multiple="multiple">Upload on file select</div>
            <div>
                <img style="width: 50px; height:50px;" ng-repeat="photo in addCourtCtrl.photos" ng-src="images/uploads/courts/{{photo.name}}" />
                <img class="add-photo-button" />
            </div>
            Drop File:
            <div ngf-drop="addCourtCtrl.uploadFiles(addCourtCtrl.photos)" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true"
                 ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            <span class="progress" ng-show="addCourtCtrl.progress >= 0">
                <div style="width:{{addCourtCtrl.progress}}%"
                     ng-bind="addCourtCtrl.progress + '%'"></div>
            </span>
            
        </div>
        <div class="block form-group">
            <label for="description">Say something about this court:</label>
            <textarea id="description" rows="5" class="form-control" ng-model="addCourtCtrl.court.description"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-disabled="!addCourtCtrl.picFile" class="btn btn-primary" type="button" ng-click="addCourtCtrl.ok()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="addCourtCtrl.cancel()">Cancel</button>
</div>