<div ng-controller="courtCtrl as vm">
    <div class="tab-wrap">
        <div class="media">
            <div class="pull-left">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active"><a href="#find-courts-tab" data-toggle="tab" class="analistic-01">Find Courts</a></li>
                    <li class=""><a href="#my-courts-tab" data-toggle="tab" class="analistic-02">My Courts</a></li>
                    <li class=""><a href="#followed-courts-tab" data-toggle="tab" class="tehnical">Followed Courts</a></li>
                </ul>
            </div>
            <div class="parrent media-body">
                <div class="tab-content faded-bg">
                    <div class="tab-pane active transparent-bg" id="find-courts-tab">
                        <div>
                            <div class="control-panel">
                                <form class="form-inline float-left">
                                    <div class="form-group">
                                        <label>Search Courts: </label>
                                        <input type="text" ng-model="searchKey" />
                                        <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                                <button class="float-right btn btn-primary">Register a Court</button>
                            </div>                            
                        </div>
                        <courts-list-item court="court" ng-repeat="court in vm.courtsSearched"></courts-list-item>
                    </div>
                    <div class="tab-pane col-md-12" id="my-courts-tab">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="text-container tab-pane col-md-12" id="followed-courts-tab">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                    </div>
                </div> <!--/.tab-content-->
            </div> <!--/.media-body-->
        </div> <!--/.media-->
    </div><!--/.tab-wrap-->
</div>