<div ng-controller="courtDetailsCtrl as vm">
    <div class="tab-wrap">
        <div class="media">
            <div class="left-side-bar">
                <div class="left-side-content tab-headers pull-left">
                    <ul class="nav nav-tabs nav-stacked">
                        <li class="active"><a href="#find-courts-tab" data-toggle="tab" class="analistic-01">Court&nbsp;Details</a></li>
                        <li class=""><a href="#court-schedule-tab" data-toggle="tab" class="analistic-02">Schedule</a></li>
                    </ul>
                </div>
                <ng-include src="'views/shared/left-side-contents/quick-links.html'"></ng-include>
            </div>                
            <div class="center-content parrent media-body">
                <div class="tab-content">
                    <div class="tab-pane active transparent-bg" id="court-details-tab">
                        <div class="col-lg-12 photos">
                            <ng-image-gallery images="vm.court.photos"
                                                methods="vm.methods"
                                                thumbnails="true"
                                                inline="true"
                                                url-prefix="vm.imageDir"
                                                img-bubbles="true"
                                                bubbles="false"
                                                img-anim="pop"
                                                show-add-button="true"
                                                add-file="vm.addPhotos"
                                                remove-function="vm.removePhoto(index)"
                                                set-primary="vm.setPrimary(index)"
                                                show-controls="vm.owned"></ng-image-gallery>
                        </div>
                        <div class="col-lg-12 details-block">
                            <h3 class="header">{{vm.court.name}}</h3>
                            <div class="detail-group">
                                <label>Address:</label>
                                <span>{{vm.court.address}}</span>
                            </div>
                            <div ng-if="vm.court.contactNo" class="detail-group">
                                <label>Contact #:</label>
                                <span>{{vm.court.contactNo}}</span>
                            </div>
                            <div ng-if="vm.court.email" class="detail-group">
                                <label>Email:</label>
                                <span>{{vm.court.email}}</span>
                            </div>
                            <div class="detail-group">
                                <label>Rate/Hour:</label>
                                <span>{{vm.court.rate}}</span>
                            </div>
                            <div ng-if="vm.court.description" class="detail-group">
                                <label>Description:</label>
                                <span>{{vm.court.description}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane col-md-12" id="court-schedule-tab">
                        <p>
                            This page is not yet available
                        </p>
                    </div>
                </div> <!--/.tab-content-->
            </div> <!--/.media-body-->
            <div class="right-side-bar">
                <ng-include src="'views/shared/right-side-contents/featured-courts.html'"></ng-include>
            </div>
        </div> <!--/.media-->
    </div><!--/.tab-wrap-->
</div>