<div ng-controller="teamMemberRequestsController as tmrCntrl" class="current-members titled-container">
    <div class="header col-md-12">
        <h5 class="title">Member Requests</h5>
        <!--<div class="action-buttons">
            <a class="button-link" ng-if="isOwned" ng-click="tmCtrl.addMember()"><i class="fa fa-plus"></i> Add A Member</a>
        </div>-->
    </div>
    <div ng-if="!tmrCtrl.loadingRequests && (!team.requests || team.requests.length == 0) " class="content col-md-12">
        <span>No requests found.</span>
    </div>
    <div class="content col-md-12">
        <team-member ng-repeat="request in team.requests" player="request" type="'request'" class="team-member"></team-member>
    </div>
</div>