
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{loginCtrl.message?loginCtrl.message:'Log In'}}</h3>
    <h3 class="modal-title close-button" ><a class="button-link" ng-click="loginCtrl.closeModal()" ><i class="fa fa-times"></i></a></h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="left-side">
        <form name="LoginForm" id="loginForm" class="" data-toggle="validator">
            <h4 style="text-align: center;">Log in using your account</h4>
            <div class="form-group" ng-class="{'has-error':LoginForm.username.$invalid && LoginForm.username.$touched}">
                <label class="control-label" for="username">Username:*</label>
                <input type="text" class="form-control" required minlength="6" name="username" ng-model="loginCtrl.userData.Username">
                <div class="help-block" ng-messages="LoginForm.username.$error" role="alert">
                    <div ng-message="required">Username is required.</div>
                    <div ng-message="minlength">Username must be at least 6 characters long.</div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':LoginForm.password.$invalid && LoginForm.password.$touched}">
                <label class="control-label" for="password">Password:</label>
                <input type="password" class="form-control" name="password" required minlength="6" ng-model="loginCtrl.userData.Password">
                <div class="help-block" ng-messages="LoginForm.password.$error" role="alert">
                    <div ng-message="required">Password is required.</div>
                    <div ng-message="minlength">Password must be at least 6 characters long.</div>
                </div>
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button name="login-button" ng-disabled="loginCtrl.validating" class="btn btn-primary btn-block" type="button" ng-click="loginCtrl.Login(LoginForm)">{{loginCtrl.validating?'Validating...':'Login'}}</button>
            <p style="text-align:center;" >Don't have an account? <a class="button-link" ng-click="loginCtrl.register()" >Register</a></p>
        </form>
    </div>
    <div class="right-side" >
        <h4 style="text-align:center;" >or</h4>
        <a class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span>
            <span>Log in with Facebook</span>
        </a>
        <a class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"></span> 
            <span>Log in with Twitter</span>
        </a>
        <a class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> 
            <span>Log in with Google</span>
        </a>
    </div>
    
</div>
<!--<div class="modal-footer">
</div>-->