<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Game Details</h3>
</div>
<div class="modal-body game-details-modal-body" id="modal-body">
    <form name="gameDetailsForm" class="" data-toggle="validator">
        <div class="block form-group" ng-class="{'has-error':gameDetailsForm.name.$invalid && gameDetailsForm.name.$touched}">
            <label class="control-label" for="name">Game Title:*</label>
            <input type="text" class="form-control" required minlength="5" name="name" ng-model="gdm.game.title">
            <div class="help-block" ng-messages="gameDetailsForm.name.$error || gameDetailsForm.name.$touched" role="alert">
                <div ng-message="required">Game Title is required.</div>
                <div ng-message="minlength">Game Title must be at least 5 characters long.</div>
            </div>
        </div>
        <div class="form-group court" ng-class="[{hasValue:gdm.game.court}, {'has-error':gdm.validation.court.$invalid}]">
            <label class="control-label" for="court">Court:*</label>
            <court-stub show-controls="true" court="gdm.game.court" delete-function="gdm.removeCourt(court)" ></court-stub>
            <!--<span ng-if="gdm.game.court">{{gdm.game.court.name}}</span>-->
            <div class="edit-field"
                 angucomplete-alt id="court-autocomplete"
                 placeholder="Type to search by court name"
                 maxlength="50"
                 field-required="true"
                 field-required-class="missing"
                 pause="100"
                 initial-value="gdm.game.court"
                 selected-object="courtSelected"
                 remote-url="{{gdm.courtSearchRemoteUrl}}"
                 title-field="name"
                 minlength="1"
                 input-class="edit-field input-field form-control"
                 input-name="court"
                 match-class="highlight"
                 focus-first="true"></div>
            <div class="help-block" ng-messages="gameDetailsForm.name.$error" role="alert">
                <div class="error-msg required" ng-class="[{'active':gdm.validation.court.required}]" >Court is required.</div>
            </div>
        </div>
        <div class="form-group schedule" ng-class="[{'has-error':gdm.validation.schedule.$invalid}]" >
            <label class="control-label" for="court">Schedule:*</label><!--<span>{{gdm.game.schedule | date : 'EEE, MMM d, y h:mm:ss a'}}</span>-->
            <!--<input type="text" name="court" ng-model="gdm.game.schedule" />-->
            <div class="dropdown">
                <p ng-if="!gdm.game.schedule" class="sched-dd-toggle dropdown-toggle button-link" role="button" data-toggle="dropdown">Select schedule</p>
                <p ng-if="gdm.game.schedule" class="sched-dd-toggle dropdown-toggle button-link" role="button" data-toggle="dropdown">{{gdm.game.schedule | date : 'EEE, MMM d, y h:mm:ss a'}}</p>
                <ul class="dropdown-menu" role="menu">
                    <datetimepicker data-ng-model="gdm.game.schedule" on-set-time="gdm.schedSelected(newDate, oldDate)" data-datetimepicker-config="{ dropdownSelector: '.sched-dd-toggle', minuteStep: 30 }" />
                </ul>
            </div>
            <div class="help-block" role="alert">
                <div class="error-msg" ng-class="[{'active':gdm.validation.schedule.required}]">Schedule is required.</div>
                <div class="error-msg" ng-class="[{'active':gdm.validation.schedule.invalid}]">Invalid date. Please select a future date.</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="court">Password(optional):</label>
            <input type="text" style="height: 0; width: 0; border:none; display:inline;" /> <!--workaround to avoid autofill on court name field--> 
            <input type="password" name="court" class="form-control" ng-model="gdm.game.password" />
        </div>
        <div id="team-options">
            <div id="teamA-options">
                <div class="hr-sect">Team A Options</div>
                <table>
                    <tr class="form-group">
                        <td>
                            <label class="control-label" for="court">Who can join:</label>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" ng-checked="gdm.game.allowedToJoinTeamA == 0" ng-model="gdm.game.allowedToJoinTeamA" value="0" /> Individual Players Only
                            </label>                            
                            <label class="radio-inline">
                                <input type="radio" ng-checked="gdm.game.allowedToJoinTeamA == 1" ng-model="gdm.game.allowedToJoinTeamA" value="1" /> Teams Only
                            </label>                            
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="control-label" for="court">Password(optional):</label>
                        </td>
                        <td>
                            <input type="password" name="court" class="form-control" ng-disabled="gdm.game.allowedToJoinTeamA == 1" ng-model="gdm.game.teamAPassword" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="teamB-options">
                <div class="hr-sect">Team B Options</div>
                <table>
                    <tr class="form-group">
                        <td>
                            <label class="control-label" for="court">Who can join:</label>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" ng-checked="gdm.game.allowedToJoinTeamB == 0" ng-model="gdm.game.allowedToJoinTeamB" value="0" /> Individual Players Only
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-checked="gdm.game.allowedToJoinTeamB == 1" ng-model="gdm.game.allowedToJoinTeamB" value="1" /> Teams Only
                            </label>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="control-label" for="court">Password(optional):</label>
                        </td>
                        <td>
                            <input type="password" name="court" class="form-control" ng-disabled="gdm.game.allowedToJoinTeamB == 1" ng-model="gdm.game.teamBPassword" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="{{gdm.saving}}" type="button" ng-click="gdm.ok(gameDetailsForm)">{{gdm.saving?'Creating...':'Create'}}</button>
    <button class="btn btn-warning" type="button" ng-click="gdm.cancel()">Cancel</button>
</div>