<div ng-controller="teamsCtrl as teamsCtrl">
    <div class="tab-wrap">
        <div class="media">
            <div class="left-side-bar">
                <!--<div class="tab-headers pull-left">
                    <ul class="nav nav-tabs nav-stacked">
                        <li ng-class="{'active':$state.current.name.startsWith('courts.find')}" class=""><a ui-sref="courts.find" class="analistic-01">All&nbsp;Courts</a></li>
                        <li ng-class="{'active':$state.current.name.startsWith('courts.myCourts')}" class=""><a ui-sref="courts.myCourts" class="analistic-02">My&nbsp;Courts</a></li>
                        <li ng-class="{'active':$state.current.name.startsWith('courts.followed')}" class=""><a ui-sref="courts.followed" class="tehnical">Followed&nbsp;Courts</a></li>
                    </ul>
                </div>-->
                <ng-include src="'views/shared/side-contents/quick-links.html'"></ng-include>
            </div>
            <div class="center-content parrent media-body">
                <div class="tab-content">
                    <div ng-hide="allPlayers.loading" class="col-lg-12 control-panel-container">
                        <div class="control-panel">
                            <button class="btn btn-primary" player-search-modal search-criteria="allPlayers.searchCriteria" on-submit="allPlayers.search(criteria)"><i class="fa fa-search"></i></button>
                            <button class="btn btn-primary" ng-click="allPlayers.openAddModal('md')"><i class="fa fa-plus"></i></button>
                        </div>
                        <div ng-cloak class="list-summary">
                            <span class="summary" ng-if="teamsCtrl.teams"><span>{{teamsCtrl.teams.length + ' team' + (teamsCtrl.teams.length > 1?'s':'') + ' found'}}</span> <span class="small">{{allPlayers.searchCriteriaStr}} <i ng-show="allPlayers.filtered" class="clickable text-danger fa fa-times" ng-click="allPlayers.resetFilters()"></i></span></span>
                            <div class="sorter" ng-if="!allPlayers.loading && teamsCtrl.teams && teamsCtrl.teams.length > 1"><span>Sort By:</span> <select ng-model="allPlayers.sortObject" ng-options="obj.description for obj in allPlayers.sortObjects" ng-change="allPlayers.sort()"></select></div>
                            <p class="empty-message" ng-show="!allPlayers.loading && !teamsCtrl.teams">No teams were found.</p>
                        </div>
                    </div>
                    <div class="teams-list">
                        <!--<div class="teams-list-item" ui-sref="teams" ng-repeat="team in teamsCtrl.teams">
                            <div class="team-logo-container">
                                <img class="team-logo" ng-src="{{$settings.defaultTeamLogoUrl}}" />
                            </div>
                            <ul class="team-details">
                                <li><span class="team-name">{{team.teamName}}</span></li>
                                <li class="city">
                                    <span class="value">{{team.city.longName + ', ' + team.city.country.shortName}}</span>
                                </li>
                                <li class="coach">
                                    <span class="label">Coached by</span>
                                    <span class="value">{{team.manager.userName}}</span>
                                </li>
                                <li class="coach">
                                    <span class="label">Home Court</span>
                                    <span class="value">{{team.homeCourt.name}}</span>
                                </li>
                                <li class="coach">
                                    <span class="label">Win Rate</span>
                                    <span class="value"><rating value="team.winningRate * 5"></rating> ({{team.winCount + '/' + (team.lossCount + team.winCount)}})</span>
                                </li>
                            </ul>
                            <div class="list-item-options" uib-dropdown>
                                <button uib-dropdown-toggle class="btn btn-primary"><i class="fa fa-caret-down"></i></button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li role="menu-item"><a ng-click="">Message</a></li>
                                    <li role="menu-item"><a ng-click="">Add To Favorites</a></li>
                                    <li role="menu-item"><a ng-click="">Report</a></li>
                                </ul>
                            </div>
                        </div>-->
                        <teams-list-item ng-repeat="team in teamsCtrl.teams" team="team"></teams-list-item>
                    </div>
                    
                </div> <!--/.tab-content-->
            </div> <!--/.media-body-->
            <div class="right-side-bar">
                <ng-include src="'views/shared/side-contents/featured-courts.html'"></ng-include>
            </div>
        </div> <!--/.media-->
    </div><!--/.tab-wrap-->
</div>