<div ng-form="profileDetailsForm" ng-controller="mainProfileAboutController as aboutCtrl" class="details-block" ng-class="{'on-edit-mode':aboutCtrl.onEditMode}">
    <!--<div class="detail-group">
        <label>Username</label>
        <div class="value-field">
            <span class="display-field">{{profile.details.userName}}</span>
            <input name="userName" type="text" class="input-field edit-field" ng-model="aboutCtrl.tempProfile.userName" required/>
        </div>
    </div>-->
    <div class="detail-group">
        <label>Height</label>
        <div class="value-field">
            <span class="display-field">{{(!profile.details.heightFt || !profile.details.heightIn)?'--':profile.details.heightFt + '\' ' + profile.details.heightIn + '"'}}</span>
            <div class="edit-field">
                <select name="heightFt" class="input-field" ng-model="aboutCtrl.tempProfile.heightFt">
                    <option ng-value="">--</option>
                    <option ng-value="4">4</option>
                    <option ng-value="5">5</option>
                    <option ng-value="6">6</option>
                    <option ng-value="7">7</option>
                </select>
                <span>ft. </span>
                <select name="heightIn" class="input-field" ng-model="aboutCtrl.tempProfile.heightIn">
                    <option ng-value="">--</option>
                    <option ng-value="0">0</option>
                    <option ng-value="1">1</option>
                    <option ng-value="2">2</option>
                    <option ng-value="3">3</option>
                    <option ng-value="4">4</option>
                    <option ng-value="5">5</option>
                    <option ng-value="6">6</option>
                    <option ng-value="7">7</option>
                    <option ng-value="8">8</option>
                    <option ng-value="9">9</option>
                    <option ng-value="10">10</option>
                    <option ng-value="11">11</option>
                </select>
                <span>in. </span>
            </div>
        </div>
    </div>
    <div class="detail-group">
        <label>Sex</label>
        <div class="value-field">
            <span class="display-field">{{profile.details.sex?(profile.details.sex == 'M'?'Male':'Female'):'--'}}</span>
            <select name="sex" class="edit-field input-field" ng-model="aboutCtrl.tempProfile.sex">
                <option ng-value="'M'">Male</option>
                <option ng-value="'F'">Female</option>
            </select>
        </div>
    </div>
    <div class="detail-group">
        <label>Address</label>
        <div class="value-field">
            <span class="display-field">{{profile.details.address}}</span>
            <input name="address" type="text" class="full-width edit-field input-field" ng-model="aboutCtrl.tempProfile.address" />
        </div>
    </div>
    <div class="action-buttons">
        <button class="btn btn-primary edit" ng-click="aboutCtrl.edit()">Edit</button>
        <button class="btn btn-primary save" ng-click="aboutCtrl.save(profileDetailsForm)" ng-disabled="aboutCtrl.saving">Save</button>
        <button class="btn btn-warning cancel" ng-click="aboutCtrl.cancel()" ng-disabled="aboutCtrl.saving">Cancel</button>
    </div>
</div>