<div ng-controller="allPlayersCtrl as allPlayers" class="tab-pane active transparent-bg" id="find-courts-tab">
    <div ng-hide="allPlayers.loading" class="col-lg-12 control-panel-container">
        <div class="control-panel">
            <button class="btn btn-primary" player-search-modal search-criteria="allPlayers.searchCriteria" on-submit="allPlayers.search(criteria)"><i class="fa fa-search"></i></button>
            <button class="btn btn-primary" ng-click="allPlayers.openAddModal('md')"><i class="fa fa-plus"></i></button>
        </div>
        <div ng-cloak class="list-summary">
            <span class="summary" ng-if="allPlayers.players"><span>{{allPlayers.players.length + ' player' + (allPlayers.players.length > 1?'s':'') + ' found'}}</span> <span class="small">{{allPlayers.searchCriteriaStr}} <i ng-show="allPlayers.filtered" class="clickable text-danger fa fa-times" ng-click="allPlayers.resetFilters()" ></i></span></span>
            <div class="sorter" ng-if="!allPlayers.loading && allPlayers.players && allPlayers.players.length > 1"><span>Sort By:</span> <select ng-model="allPlayers.sortObject" ng-options="obj.description for obj in allPlayers.sortObjects" ng-change="allPlayers.sort()"></select></div>
            <p class="empty-message" ng-show="!allPlayers.loading && !allPlayers.players">No players were found.</p>
        </div>
    </div>
    <div class="items">
        <div class="player-list-item" ng-repeat="player in allPlayers.players | orderBy:allPlayers.sortObject.field:allPlayers.sortObject.reversed">
            <div>
                <div class="profile-details">
                    <a class="player-name color-primary ellipsis" ui-sref="profile.playerProfile.details({userName:player.userName})">
                        <img class="profile-pic" ng-src="{{player.profilePic?(allPlayers.playerImgSrcPrefix + player.userId + '/profilePic/' + player.profilePic):$settings.defaultProfilePicUrl}}" />
                    </a>
                    <ul class="details">
                        <li><a class="player-name color-primary ellipsis" ui-sref="profile.playerProfile.details({userName:player.userName})">{{player.userName}}</a></li>
                        <li><span class="label">Location: </span><span class="value button-link">{{player.address}}</span></li>
                        <li><span class="label">Height: </span><span class="value button-link">{{player.heightFt + '\' ' + player.heightIn + '"'}}</span></li>
                        <li><span class="label">Sex: </span><span class="value button-link">{{player.sex?(player.sex=='M'?'Male':'Female'):'?'}}</span></li>
                        <li><span class="label">Date Joined: </span><span class="value">{{player.dateJoined | date}}</span></li>
                    </ul>
                    <div class="list-item-options" uib-dropdown>
                        <button uib-dropdown-toggle class="btn btn-primary"><i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li role="menu-item"><a ng-click="">Message</a></li>
                            <li role="menu-item"><a ng-click="">Add To Favorites</a></li>
                            <li role="menu-item"><a ng-click="">Report</a></li>
                        </ul>
                    </div>
                </div>
                <div class="skills">
                    <ul class="skill-set">
                        <li class="skill" uib-tooltip="MVPs">
                            <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-mvp.png'}}" />
                            <span class="value"> MVPs - {{player.mvps}}</span>
                        </li>
                        <li class="skill" uib-tooltip="Win Rate - {{player.winRate?player.winRate + '%':'?'}}" >
                            <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-trophy.png'}}" />
                            <span class="value"> Win Rate - {{player.winRate?player.winRate + '%':'?'}}</span>
                        </li>
                        <li class="skill" uib-tooltip="Dribbling Skills - {{player.dribblingSkill}}" >
                            <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                            <span class="value stars"> Dribbling Skills - <rating value="player.dribblingSkill"></rating></span>
                        </li>
                    </ul>
                    <ul class="skill-set">
                        <li class="skill" uib-tooltip="Passing Skills - {{player.passingSkill}}">
                            <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                            <span class="value stars"> Passing Skills - <rating value="player.passingSkill"></rating></span>
                        </li>
                        <li class="skill" uib-tooltip="3-pts Skills - {{player.threePointSkill}}">
                            <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                            <span class="value stars"> 3-pts Skills - <rating value="player.threePointSkill"></rating></span>
                        </li>
                        <li class="skill" uib-tooltip="Blocking Skills - {{player.blockingSkill}}">
                            <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                            <span class="value stars"> Blocking Skills - <rating value="player.blockingSkill"></rating></span>
                        </li>
                    </ul>
                    <ul class="skill-set">
                        <li class="skill" uib-tooltip="Shooting Skills - {{player.shootingSkill}}">
                            <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                            <span class="value stars"> Shooting Skills - <rating value="player.shootingSkill"></rating></span>
                        </li>
                        <li class="skill" uib-tooltip="Defensive Skills - {{player.defensiveSkill}}">
                            <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                            <span class="value stars"> Defensive Skills - <rating value="player.defensiveSkill"></rating></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--<courts-list-item court="court" ng-src-prefix="courts.courtImgSrcPrefix" ng-repeat="court in allPlayers.players | orderBy:allPlayers.sortObject.field:allPlayers.sortObject.reversed"></courts-list-item>-->
</div>