.profile .main-profile .top{
    padding-top: 10px;
}

.profile .main-profile .profile-photo-container{
    display: inline-block;
    /*margin: 10px auto;*/
    /*margin-top: 30px;*/
    width: 150px;
    height: 150px;
    position:relative;
    float:left;
}

.profile .main-profile .top .ng-image-gallery,
.profile .main-profile .top .ng-image-gallery .ng-image-gallery-thumbnails,
.profile .main-profile .top .ng-image-gallery .thumb
{
    display: block;
    height: 100%;
    width: 100%;
}

.profile .main-profile .top .ng-image-gallery .thumb{
    background-color: #fff;
}

.profile .main-profile .profile-photo,
.profile .main-profile .basic-info{
    display:inline-block;
    float:left;
}

.profile .main-profile .profile-photo{
    /*padding: 0 15px;*/
}
.profile .main-profile .basic-info {
    background: #3c3c3c;
    padding: 0px 10px;
    border-radius: 4px;
}

.profile .main-profile .profile-photo-container .change-profile-photo{
    position:absolute;
    top: 3px;
    right: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 22px;
    height: 22px;
    z-index: 1;
    cursor: pointer;
}

/*@media (min-width: 992px) and (max-width:1199px) {
    .profile .bottom .details-block .value-field{
        width: 335px;
    }
}*/


.profile .main-profile .username{
    color: #2dc5c3;
    display: inline-block;
    margin: 0px auto 5px;
    padding-left: 10px;
    float: left;
}

@media(max-width: 991px){
    .profile .main-profile .basic-info {
        /*max-width: 370px;*/
    }
}