<div class="main-profile" ng-if="profile.details" ng-controller="mainProfileController as mainProfCtrl">
    <div class="photos">
        <h5>Photos</h5>
        <ng-image-gallery images="mainProfCtrl.mainProfile.photos"
                          methods="mainProfCtrl.methods"
                          thumbnails="true"
                          inline="false"
                          url-prefix="mainProfCtrl.photosUrlPrefix"
                          img-bubbles="false"
                          bg-close="true"
                          bubbles="false"
                          img-anim="pop"
                          show-add-button="true"
                          add-file="mainProfCtrl.addPhotos"
                          remove-function="mainProfCtrl.removePhoto(index)"
                          show-controls="isOwned"></ng-image-gallery>
    </div>
    <div class="videos">

    </div>
</div>