.profile .main-profile .top {
    background-color: #0d5253;
    display: inline-block;
    width: 100%;
    color: #fff;
}

.profile .main-profile .profile-photo-container{
    display: block;
    margin: 10px auto;
    margin-top: 50px;
    width: 120px;
    height: 120px;
    position:relative;
}

.profile .main-profile .top .ng-image-gallery,
.profile .main-profile .top .ng-image-gallery .ng-image-gallery-thumbnails,
.profile .main-profile .top .ng-image-gallery .thumb
{
    display: block;
    height: 100%;
    width: 100%;
}

.profile .main-profile .top .ng-image-gallery .thumb{
    background-color: #fff;
}

.profile .main-profile .profile-photo-container .change-profile-photo{
    position:absolute;
    top: 3px;
    right: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 22px;
    height: 22px;
    z-index: 1;
    cursor: pointer;
}

/*@media (min-width: 992px) and (max-width:1199px) {
    .profile .bottom .details-block .value-field{
        width: 335px;
    }
}*/


.profile .main-profile .username{
    color: #fff;
    text-align: center;
    display: block;
    margin: 5px auto;
}