<div class="main-profile profile-sub-content" ng-controller="mainProfileController as mainProfileCtrl">
    <div class="top tab-pane col-md-12">
        <div class="profile-photo-container">
            <span class="change-profile-photo show-on-hover" ng-if="isOwned" ngf-select="mainProfileCtrl.replaceProfilePhoto($file)" ngf-pattern="'image/*'" ngf-accept="'image/*'" ><i class="fa fa-pencil"></i></span>
            <!--<img class="profile-photo" ng-src="images/default-user-image.png" />-->
            <ng-image-gallery images="mainProfileCtrl.profilePic"
                              methods="addCourtCtrl.methods"
                              thumbnails="true"
                              inline="false"
                              url-prefix="mainProfileCtrl.profilePicUrlPrefix"
                              img-bubbles="false"
                              bg-close="true"
                              bubbles="false"
                              img-anim="pop"
                              show-controls="false"></ng-image-gallery>
        </div>        
        <h5 class="username">{{profile.details.userName}}</h5>
        <ul class="tab-headers">
            <li ng-class="{'active': $state.current.name == 'profile.main.activities'}"><a ui-sref="profile.main.activities({userName:profile.details.userName})" ng-click="">Activities</a></li>
            <li ng-class="{'active': $state.current.name == 'profile.main.photos'}"><a ui-sref="profile.main.photos({userName:profile.details.userName})" ng-click="">Photos</a></li>
            <li ng-class="{'active': $state.current.name == 'profile.main.videos'}"><a ui-sref="profile.main.videos({userName:profile.details.userName})" ng-click="">Videos</a></li>
            <li ng-class="{'active': $state.current.name == 'profile.main.about'}"><a ui-sref="profile.main.about({userName:profile.details.userName})" ng-click="">About</a></li>
        </ul>
    </div>
    <div class="bottom tab-pane col-md-12">
        <ui-view></ui-view>
    </div>
</div>
