<div class="former-members titled-container">
    <div class="header col-md-12">
        <h5 class="title">Former Members({{(team.members | filter:{ isCurrentMember : false }).length}})</h5>
        <div class="action-buttons"></div>
    </div>
    <div ng-if="!tmrCtrl.loadingMembers && (!team.members || (team.members | filter:{ isCurrentMember : false }).length == 0) " class="content col-md-12">
        <span>No former members.</span>
    </div>
    <div class="content col-md-12">
        <team-member ng-repeat="player in team.members | filter:{ isCurrentMember : false }" player="player" type="'member'" class="team-member"></team-member>
    </div>
</div>