<div ng-controller="findCourtCtrl as findCourt" class="tab-pane active transparent-bg" id="find-courts-tab">
    <div class="col-lg-12 control-panel-container">
        <div class="control-panel">
            <!--<form class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<span uib-tooltip="More options"><i class="fa fa-caret-down"></i></span>
                    <input class="form-control" placeholder="enter court name..." type="text" ng-model="searchKey" />-->
                    <button class="btn btn-primary"  court-search-modal search-criteria="findCourt.searchCriteria" on-submit="findCourt.search(criteria)" ><i class="fa fa-search"></i></button>
                    <button class="btn btn-primary" ng-click="findCourt.openAddModal('md')" ><i class="fa fa-plus"></i></button>
                    <!--<a class="button-link" uib-tooltip="Show more search options"><i class="fa fa-caret-down"></i>&nbsp;More&nbsp;Options</a>-->
                <!--</div>-->
            <!--</form>-->
            <!--<a uib-tooltip="Register a new court." class="button-link right-item" ng-click="findCourt.openAddModal('md')"><i class="fa fa-plus"></i>&nbsp;Register&nbsp;a&nbsp;Court</a>-->
            <!--<button class="float-right btn btn-primary" ng-click="vm.openAddModal('md')">Register a Court</button>-->
        </div>
        <div ng-cloak class="list-summary">
            <p><span><strong>{{findCourt.courtsSearched.length + ' court' + (findCourt.courtsSearched.length > 1?'s':'') + ' found'}}</strong></span> <span class="small">{{findCourt.searchCriteriaStr}} <i ng-show="findCourt.filtered" class="fa fa-times" ng-click="findCourt.resetFilters()" ></i></span></p>
            <div ng-if="findCourt.courtsSearched && findCourt.courtsSearched.length > 1"><span>Sort By:</span> <select ng-model="findCourt.sortObject" ng-options="obj.description for obj in findCourt.sortObjects" ng-change="findCourt.sort()"></select></div>
        </div>
    </div>
    <courts-list-item court="court" ng-src-prefix="courts.imageUploadPath" ng-repeat="court in findCourt.courtsSearched | orderBy:findCourt.sortObject.field:findCourt.sortObject.reversed"></courts-list-item>
</div>