<div ng-controller="findCourtCtrl as findCourt" class="tab-pane active transparent-bg" id="find-courts-tab">
    <div class="col-lg-12 control-panel-container">
        <div class="control-panel">
            <button class="btn btn-primary" court-search-modal search-criteria="findCourt.searchCriteria" on-submit="findCourt.search(criteria)"><i class="fa fa-search"></i></button>
            <button class="btn btn-primary" ng-click="findCourt.openAddModal('md')"><i class="fa fa-plus"></i></button>
        </div>
        <div ng-cloak class="list-summary" ng-hide="findCourt.loading" >
            <p ng-if="findCourt.courtsSearched"><span>{{findCourt.courtsSearched.length + ' court' + (findCourt.courtsSearched.length > 1?'s':'') + ' found'}}</span> <span class="small">{{findCourt.searchCriteriaStr}} <i ng-show="findCourt.filtered" class="clickable text-danger fa fa-times" ng-click="findCourt.resetFilters()" ></i></span></p>
            <div class="sorter" ng-if="!findCourt.loading && findCourt.courtsSearched && findCourt.courtsSearched.length > 1"><span>Sort By:</span> <select ng-model="findCourt.sortObject" ng-options="obj.description for obj in findCourt.sortObjects" ng-change="findCourt.sort()"></select></div>
            <p ng-show="!findCourt.loading && !findCourt.courtsSearched">No courts were found.</p>
        </div>
    </div>
    <div ng-show="findCourt.loading" class="col-lg-12">
        <p class="center"><i class="fa fa-spinner fa-pulse"></i> Loading courts list...</p>
    </div>
    <courts-list-item court="court" ng-src-prefix="courts.courtImgSrcPrefix" ng-repeat="court in findCourt.courtsSearched | orderBy:findCourt.sortObject.field:findCourt.sortObject.reversed"></courts-list-item>
</div>