<div class="player-profile" ng-if="profile.details" ng-controller="playerProfileController as playerProfCtrl">
    <div class="titled-container stats">
        <div class="header col-md-12">
            <h5 class="title">Stats &amp; Skills</h5>
        </div>
        <div class="content col-md-12">
            <div class="skills">
                <ul class="skill-set">
                    <li class="skill">
                        <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-mvp.png'}}" />
                        <span class="value"> MVPs - {{profile.player.mvps}}</span>
                    </li>
                    <li class="skill">
                        <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-trophy.png'}}" />
                        <span class="value"> Win Rate - {{profile.player.winRate?profile.player.winRate + '%':'?'}}</span>
                    </li>
                    <li class="skill">
                        <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                        <span class="value stars"> Dribbling Skills - <rating value="profile.player.dribblingSkill"></rating></span>
                    </li>
                </ul>
                <ul class="skill-set">
                    <li class="skill" >
                        <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                        <span class="value stars"> Passing Skills - <rating value="profile.player.passingSkill"></rating></span>
                    </li>
                    <li class="skill">
                        <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                        <span class="value stars"> 3-pts Skills - <rating value="profile.player.threePointSkill"></rating></span>
                    </li>
                    <li class="skill">
                        <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                        <span class="value stars"> Blocking Skills - <rating value="profile.player.blockingSkill"></rating></span>
                    </li>
                </ul>
                <ul class="skill-set">
                    <li class="skill" >
                        <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                        <span class="value stars"> Shooting Skills - <rating value="profile.player.shootingSkill"></rating></span>
                    </li>
                    <li class="skill" >
                        <img class="icon" ng-src="{{$settings.defaultImagesDirectory + 'icon-dribbling.png'}}" />
                        <span class="value stars"> Defensive Skills - <rating value="profile.player.defensiveSkill"></rating></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="titled-container games">
        <div class="header col-md-12">
            <h5 class="title">Games({{profile.player.games.length}})</h5>
        </div>
        <div class="content">
            <games-list-item ng-repeat="game in profile.player.games" game="game"></games-list-item>
        </div>
        <div class="footer col-md-12">

        </div>
    </div>
</div>
