.player-profile{
}

.player-profile .titled-container.stats{
    background: #3f7373;
    color: #eee;
    display:inline-block;
    width: 100%;
    padding-bottom: 15px;
}

.player-profile .titled-container.stats .header .title{
    color: #eee;
}

.player-profile .skill-set{
    display: inline-block;
    float: left;
    padding-right: 10px;
}

.player-profile .skill{
    font-size: 12px;
}

.player-profile .skill .icon{
    display: inline-block;
    height: 16px;
    width: 16px;
}

.player-profile .skill .value.stars > i{
    color: #f7941d;
}


/*Teams*/

.player-profile .teams .player-teams{
    margin: 15px;
    margin-top: 0;
}

.player-profile .teams .player-team{
    border-top: 1px solid #333;
}

.player-profile .teams .player-team:last-child{
    border-bottom: 1px solid #333;
}