<div class="registration" ng-controller="registrationCtrl as regCtrl">
    <form name="RegistrationForm" id="registrationForm" class="form" data-toggle="validator">
        <h4 class="text-center">Registration</h4>
        <div class="form-group has-feedback" ng-class="{'has-error':RegistrationForm.username.$invalid && RegistrationForm.username.$touched}">
            <input type="text" placeholder="Username" class="form-control" required minlength="6" name="username" ng-model="regCtrl.userData.Username">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <div class="help-block" ng-messages="RegistrationForm.username.$error" role="alert">
                <div ng-message="required">Username is required.</div>
                <div ng-message="minlength">Username must be at least 6 characters long.</div>
            </div>
        </div>
        <!--<div class="form-group" ng-class="{'has-error':RegistrationForm.username.$invalid && RegistrationForm.username.$touched}">
            <input type="text" placeholder="Username" class="form-control" required minlength="6" name="username" ng-model="regCtrl.userData.Username">
            <div class="help-block" ng-messages="RegistrationForm.username.$error" role="alert">
                <div ng-message="required">Username is required.</div>
                <div ng-message="minlength">Username must be at least 6 characters long.</div>
            </div>
        </div>-->
        <div class="form-group has-feedback" ng-class="{'has-error':RegistrationForm.email.$invalid && RegistrationForm.email.$touched}">
            <input type="email" placeholder="E-mail Address" class="form-control" name="email" required ng-model="regCtrl.userData.Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <div class="help-block" ng-messages="RegistrationForm.email.$error" role="alert">
                <div ng-message="required">E-mail address is required.</div>
                <div ng-message="email">Please enter a valid e-mail address.</div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':RegistrationForm.password.$invalid && RegistrationForm.password.$touched}">
            <input type="password" placeholder="Password" class="form-control" name="password" required minlength="6" ng-model="regCtrl.userData.Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <div class="help-block" ng-messages="RegistrationForm.password.$error" role="alert">
                <div ng-message="required">Password is required.</div>
                <div ng-message="minlength">Password must be at least 6 characters long.</div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':RegistrationForm.confirmPassword.$invalid && RegistrationForm.confirmPassword.$touched}">
            <input type="password" placeholder="Confirm Password" match-field="regCtrl.userData.Password" match-value="{{regCtrl.userData.Password}}" class="form-control" name="confirmPassword" ng-model="regCtrl.userData.ConfirmPassword">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <div class="help-block" ng-messages="RegistrationForm.confirmPassword.$error" role="alert">
                <div ng-message="required">Password is required.</div>
                <div ng-message="match">Passwords do not match.</div>
            </div>
        </div>
        <button type="submit" ng-click="regCtrl.Register(RegistrationForm)" class="btn btn-primary">Submit</button>
        <a class="float-right" ui-sref="login">I already have an account</a>
    </form>
</div>
