<div ng-controller="gamesCtrl as gamesCtrl">
    <div class="tab-wrap">
        <div class="media">
            <div class="left-side-bar">
                <!--<div class="tab-headers pull-left">
                    <ul class="nav nav-tabs nav-stacked">
                        <li ng-class="{'active':$state.current.name.startsWith('games.all')}" class=""><a ui-sref="games.all" class="analistic-01">All&nbsp;Games</a></li>
                        <li ng-class="{'active':$state.current.name.startsWith('games.myGames')}" class=""><a ui-sref="games.myGames" class="analistic-02">My&nbsp;Games</a></li>
                        <li ng-class="{'active':$state.current.name.startsWith('games.followed')}" class=""><a ui-sref="games.followed" class="tehnical">Followed&nbsp;Games</a></li>
                    </ul>
                </div>-->
                <ng-include src="'views/shared/side-contents/quick-links.html'"></ng-include>
            </div>
            <div class="center-content parrent media-body">
                <div class="tab-content">

                    <ui-view></ui-view>

                </div> <!--/.tab-content-->
            </div> <!--/.media-body-->
            <div class="right-side-bar">
                <ng-include src="'views/shared/side-contents/featured-courts.html'"></ng-include>
            </div>
        </div> <!--/.media-->
    </div><!--/.tab-wrap-->
</div>