<div ng-controller="teamMemberInvitationsController as tmiCntrl" class="current-members titled-container">
    <div class="header col-md-12">
        <h5 class="title">Member Invitations({{team.invitations.length}})</h5>
        <!--<div class="action-buttons">
            <a class="button-link" ng-if="isOwned" ng-click="tmCtrl.addMember()"><i class="fa fa-plus"></i> Add A Member</a>
        </div>-->
    </div>
    <div ng-if="!tmiCntrl.loadingInvitations && (!team.invitations || team.invitations.length == 0) " class="content col-md-12">
        <span>No invitations found.</span>
    </div>
    <div class="content col-md-12">
        <team-member ng-repeat="invite in team.invitations" player="invite" type="'invite'" class="team-member"></team-member>
    </div>
</div>