/** Player List Item **/

.player-list-item{
    padding: 0 15px;
    display:inline-block;
    width: 100%;
}

.player-list-item:first-child > div {
    /*border-top: 1px solid #ccc;*/
}

.player-list-item > div{
    border-bottom: 1px solid #666;
    display:inline-block;
    width: 100%;
    padding: 10px 0;
}

.player-list-item .profile-details,
.player-list-item .details-section{
    display: inline-block;
    width: 100%;
}

.player-list-item .profile-details{
    position: relative;
}

.player-list-item .skills{
    display: inline-block;
    padding: 5px;
    background: #444;
    color: #eee;
    width: 100%;
}

.player-list-item .player-name{
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
}

.player-list-item .profile-pic{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 1px solid #999;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.player-list-item .details{
    display:inline-block;
    float: left;
    padding-left: 105px;
    min-height: 100px;
    width: 100%;
}

.player-list-item .profile-details .details > li,
.player-list-item .profile-details .details > li .value{
    line-height: 16px;
    color: #eee;
}

.player-list-item .profile-details .details > li .label{
    font-size: 85%;
    font-weight: normal;
    color: #999;
    padding: 0;
}

.player-list-item .skill-set{
    display: inline-block;
    float: left;
    padding-right: 10px;
}

.player-list-item .skill{
    font-size: 12px;
}

.player-list-item .skill .icon{
    display: inline-block;
    height: 16px;
    width: 16px;
}

.player-list-item .skill .value.stars > i{
    color: #f7941d;
}

@media(max-width:320px){
    .player-list-item .profile-details .details > li .label,
    .player-list-item .profile-details .details > li.date-joined{
        display: none;
    }
}