<div class="tab-pane active transparent-bg" id="court-details-tab">
    <div class="col-lg-12 photos">
        <ng-image-gallery images="courtCtrl.court.photos"
                          methods="courtCtrl.methods"
                          thumbnails="true"
                          inline="true"
                          url-prefix="courtCtrl.courtImgSrcPrefix + courtCtrl.court.userId + '/courtPhotos/'"
                          img-bubbles="true"
                          bubbles="false"
                          img-anim="pop"
                          show-add-button="true"
                          add-file="courtCtrl.addPhotos"
                          remove-function="courtCtrl.removePhoto(index)"
                          set-primary="courtCtrl.setPrimary(index)"
                          show-controls="courtCtrl.owned"></ng-image-gallery>
    </div>
    <div ng-form="editCourtForm" class="col-lg-12 details-block" ng-class="{'on-edit-mode':courtCtrl.onEditMode}"> 
        <h3 class="header">Court Details</h3>
        <div class="detail-group">
            <label>Court Name</label>
            <div class="value-field full-width">
                <span class="display-field">{{courtCtrl.court.name}}</span>
                <input name="contactNo" type="text" class="edit-field input-field" ng-model="courtCtrl.tempCourt.name" />
            </div>
        </div>
        <div class="detail-group">
            <label >Address</label>
            <div class="value-field full-width">
                <div class="display-field">
                    <span class="display-field">{{courtCtrl.court.address}}</span>
                    <div class="map-container" map-lazy-load="https://maps.google.com/maps/api/js">
                        <ng-map id="courtLocationMap" center="{{center}}" zoom="{{zoom}}" on-click="mapClicked()"></ng-map>
                    </div>
                </div>                
                <input class="edit-field input-field"
                       type="text"
                       name="address"
                       location-picker="courtCtrl.location"
                       on-location-select="courtCtrl.updateAddress(loc)"
                       placeholder="Click to select a location"
                       ng-model="courtCtrl.tempCourt.address" />
            </div>
        </div>
        <div class="detail-group">
            <label>Contact #</label>
            <div class="value-field">
                <span class="display-field">{{courtCtrl.court.contactNo?courtCtrl.court.contactNo:'(Not Provided)'}}</span>
                <input name="contactNo" type="text" class="edit-field input-field" ng-model="courtCtrl.tempCourt.contactNo" />
            </div>
        </div>
        <div class="detail-group">
            <label>Email</label>
            <div class="value-field">
                <span class="display-field">{{courtCtrl.court.email?courtCtrl.court.email:'(Not provided)'}}</span>
                <input name="email" type="email" class="edit-field input-field" ng-model="courtCtrl.tempCourt.email" />
            </div>
        </div>
        <div class="detail-group rate">
            <label>Rate</label>
            <div class="value-field">
                <span class="display-field">₱ {{courtCtrl.court.rate}}/hour</span>
                <div class="edit-field">
                    <span>₱ </span>
                    <input id="rate" name="rate" type="number" class="input-field" ng-model="courtCtrl.tempCourt.rate" />
                    <span> / hour</span>
                </div>
                
            </div>
        </div>
        <div class="detail-group">
            <label>Description</label>
            <div class="value-field full-width">
                <span class="display-field">{{courtCtrl.court.description?courtCtrl.court.description:'(Not Provided)'}}</span>
                <textarea name="description" type="text" class="edit-field input-field" ng-model="courtCtrl.tempCourt.description" ></textarea>
            </div>
        </div>
        <div class="detail-group read-only" ng-if="!courtCtrl.owned">
            <label>Added By</label>
            <div class="value-field full-width">
                <a class="display-field button-link" ui-sref="profile.main({userName: courtCtrl.court.owner.userName})">{{courtCtrl.court.owner.userName}}</a>   
            </div>
        </div>
        <div class="action-buttons" ng-if="courtCtrl.owned">
            <button class="btn btn-primary edit" ng-click="courtCtrl.edit()">Edit</button>
            <button class="btn btn-warning cancel" ng-click="courtCtrl.cancel()" ng-disabled="courtCtrl.detailsUpdating">Cancel</button>
            <button class="btn btn-primary save" ng-click="courtCtrl.save(profileDetailsForm)" ng-disabled="courtCtrl.detailsUpdating">Save</button>
        </div>
    </div>
</div>