.court .details-block .detail-group.rate .input-field {
        width: 60px;
    }
/*@media (min-width: 768px) {
    .court .details-block .detail-group > label {
        width: 95px;
    }

    .court .details-block .detail-group > .value-field{
        width: 405px;        
    }

}

@media (min-width: 992px) {

    .court .details-block .detail-group > .value-field{
        width: 325px;        
    }
}

@media (min-width: 1200px) {

    .court .details-block .detail-group > .value-field{
        width: 525px;        
    }
}*/
