<div class="tab-pane active transparent-bg" id="court-details-tab">
    <div class="col-lg-12 photos">
        <ng-image-gallery images="courtCtrl.court.photos"
                          methods="courtCtrl.methods"
                          thumbnails="true"
                          inline="true"
                          url-prefix="courtCtrl.imageDir + courtCtrl.court.userId + '/'"
                          img-bubbles="true"
                          bubbles="false"
                          img-anim="pop"
                          show-add-button="true"
                          add-file="courtCtrl.addPhotos"
                          remove-function="courtCtrl.removePhoto(index)"
                          set-primary="courtCtrl.setPrimary(index)"
                          show-controls="courtCtrl.owned"></ng-image-gallery>
    </div>
    <div class="col-lg-12 details-block">
        <h3 class="header">{{courtCtrl.court.name}}</h3>
        <div class="detail-group">
            <label>Address:</label>
            <span>{{courtCtrl.court.address}}</span>
        </div>
        <div ng-if="courtCtrl.court.contactNo" class="detail-group">
            <label>Contact #:</label>
            <span>{{courtCtrl.court.contactNo}}</span>
        </div>
        <div ng-if="courtCtrl.court.email" class="detail-group">
            <label>Email:</label>
            <span>{{courtCtrl.court.email}}</span>
        </div>
        <div class="detail-group">
            <label>Rate per hour:</label>
            <span>{{courtCtrl.court.rate}}</span>
        </div>
        <div ng-if="courtCtrl.court.description" class="detail-group">
            <label>Description:</label>
            <span>{{courtCtrl.court.description}}</span>
        </div>
    </div>
</div>