<div ng-controller="gameDetailsCtrl as gameDetCtrl">
    <div class="tab-wrap">
        <div class="media">
            <div class="left-side-bar">
                <ng-include src="'views/shared/side-contents/quick-links.html'"></ng-include>
            </div>
            <div class="center-content parrent media-body">
                <div class="tab-content game-details" ng-class="[{'done' : game.winningTeamId != null}]">
                    <div class="top">
                        <div class="details col-md-12">
                            <h3 class="game-title">{{game.title}}</h3>
                            <table class="teams">
                                <tr>
                                    <td class="team teamA">
                                        <a ng-if="game.teamA" class="team-name" ui-sref="team.members.current({teamId: (game.teamA.teamId)})">Team A - {{game.teamA.teamName}}</a>
                                        <span ng-if="!game.teamA" class="team-name">Team A - (Unoccupied)</span>
                                    </td>
                                    <td class="vs" rowspan="3">VS</td>
                                    <td class="team teamB">
                                        <a ng-if="game.teamB" class="team-name" ui-sref="team.members.current({teamId: (game.teamB.teamId)})">Team B - {{game.teamB.teamName}}</a>
                                        <span ng-if="!game.teamB" class="team-name">Team B - (Unoccupied)</span>
                                    </td>
                                </tr>
                                <tr class="scores">
                                    <td class="teamA"><p class="score">{{game.teamAScore}}</p></td>
                                    <td class="teamB"><p class="score">{{game.teamBScore}}</p></td>
                                </tr>
                            </table>   
                            <a ui-sref="court.details({id: game.court.id })" class="court">{{game.court.name}}</a>
                            <p class="schedule">{{game.schedule | date : "MMM d',' yyyy '@' h:mma"}}</p> 
                            <div class="creator">
                                <span>Created by: </span><user-stub user="game.creator"></user-stub>
                            </div>
                            <div class="status">
                                <span ng-if="game.status == 0">(Closed)</span>
                                <span ng-if="game.status == 1">(Open)</span>
                            </div>
                            <div class="game-options">
                                <div class="btn-group options-dropdown" on-toggle="gameDetCtrl.gameOptionsToggled()" is-open="gameDetCtrl.dropDownIsOpen" uib-dropdown  ng-class="[{'loading': gameDetCtrl.gameOptionsLoading}]">
                                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                                        Options <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                        <li class="loading-indicator" role="menuitem"><a href="#"><i class="fa fa-spinner loader"></i> Loading...</a></li>
                                        <li ng-show="!gameDetCtrl.userGameRelation.isFollowing" role="menuitem"><a ng-click="">Follow</a></li>
                                        <li ng-show="gameDetCtrl.userGameRelation.isFollowing" role="menuitem"><a ng-click="">Unfollow</a></li>
                                        <li ng-show="gameDetCtrl.userGameRelation.hasRequestedAsTeam" role="menuitem"><a ng-click="gameDetCtrl.cancelRequestAsTeam()">Cancel Request As Team</a></li>
                                        <li ng-show="!gameDetCtrl.userGameRelation.managedTeamIsPlaying && gameDetCtrl.userGameRelation.managesTeam && !gameDetCtrl.userGameRelation.hasRequestedAsTeam && gameDetCtrl.userGameRelation.teamCount < 2 && !gameDetCtrl.userGameRelation.gameIsOver && !gameDetCtrl.userGameRelation.isBanned" role="menuitem"><a ng-click="gameDetCtrl.joinAsTeam()">Join As Team</a></li>
                                        <li ng-show="gameDetCtrl.userGameRelation.managedTeamIsPlaying && !gameDetCtrl.userGameRelation.gameIsOver" role="menuitem"><a ng-click="gameDetCtrl.leaveGameAsTeam()">Leave Game As Team</a></li>
                                        <li ng-show="gameDetCtrl.userGameRelation.isCreator" class="divider"></li>
                                        <li ng-show="gameDetCtrl.userGameRelation.isCreator && !gameDetCtrl.userGameRelation.gameIsOver" role="menuitem"><a ng-click="">Edit Details</a></li>
                                        <li ng-show="gameDetCtrl.userGameRelation.isCreator && !gameDetCtrl.userGameRelation.gameIsOver && game.status == 0" role="menuitem"><a ng-click="gameDetCtrl.setGameStatus(1)">Close Game</a></li>
                                        <li ng-show="gameDetCtrl.userGameRelation.isCreator && !gameDetCtrl.userGameRelation.gameIsOver && game.status == 1" role="menuitem"><a ng-click="gameDetCtrl.setGameStatus(0)">Re-Open Game</a></li>
                                        <li ng-show="gameDetCtrl.userGameRelation.isCreator && !gameDetCtrl.userGameRelation.gameIsOver" role="menuitem"><a ng-click="">Cancel Game</a></li>
                                    </ul>
                                </div>
                            </div>                 
                        </div> 
                        <ul class="tab-headers">
                            <li ng-class="{'active': $state.current.name.startsWith('gameDetails.players')}"><a ui-sref="gameDetails.players({gameId:gameDetCtrl.gameId})" ng-click="">Players</a></li>
                            <!--<li ng-class="{'active': $state.current.name.startsWith('gameDetails.photos')}"><a ui-sref="gameDetails.photos({gameId:gameDetCtrl.gameId})" ng-click="">Photos/Videos</a></li>-->
                            <li ng-class="{'active': $state.current.name.startsWith('gameDetails.requestingTeams')}"><a ui-sref="gameDetails.requestingTeams({gameId:gameDetCtrl.gameId})" ng-click="">Requesting Teams</a></li>
                        </ul>              
                    </div>
                    <div class="bottom">

                        <!-- Sub-content will be inserted here -->
                        <ui-view></ui-view>

                    </div>
                </div> <!--/.tab-content-->
            </div> <!--/.media-body-->
            <div class="right-side-bar">
                <ng-include src="'views/shared/side-contents/featured-courts.html'"></ng-include>
            </div>
        </div> <!--/.media-->
    </div><!--/.tab-wrap-->
</div>