<div ng-controller="gameDetailsCtrl as gameDetVCtrl">
    <div class="tab-wrap">
        <div class="media">
            <div class="left-side-bar">
                <ng-include src="'views/shared/side-contents/quick-links.html'"></ng-include>
            </div>
            <div class="center-content parrent media-body">
                <div class="tab-content game-details" ng-class="[{'done' : game.winningTeamId != null}]">
                    <div class="top">
                        <div class="details col-md-12">
                            <h3 class="game-title">{{game.title}}</h3>
                            <table class="teams">
                                <tr>
                                    <td class="team teamA"><a class="team-name" ui-sref="team.members.current({teamName: (game.teamA.teamName|uriEncode)})">Team A - {{game.teamA.teamName}}</a></td>
                                    <td class="vs" rowspan="3">VS</td>
                                    <td class="team teamB"><a class="team-name" ui-sref="team.members.current({teamName: (game.teamB.teamName|uriEncode)})">Team B - {{game.teamB.teamName}}</a></td>
                                </tr>
                                <tr class="scores">
                                    <td class="teamA"><p class="score">{{game.teamAScore}}</p></td>
                                    <td class="teamB"><p class="score">{{game.teamBScore}}</p></td>
                                </tr>
                            </table>   
                            <a ui-sref="court.details({id: game.court.id })" class="court">{{game.court.name}}</a>
                            <p class="schedule">{{game.schedule | date : "MMM d',' yyyy '@' h:mma"}}</p> 
                            <div class="game-options">
                                <div class="btn-group options-dropdown" on-toggle="teamCtrl.optionsDropdownToggled(open)" is-open="teamCtrl.dropDownIsOpen" uib-dropdown>
                                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                                        Options <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                        <li ng-show="gameDetVCtrl.loadingGameOptions" role="menuitem"><a href="#"><i class="fa fa-spinner loader"></i> Loading...</a></li>
                                        <li ng-show="true" role="menuitem"><a ng-click="">Follow</a></li>
                                        <li ng-show="!gameDetVCtrl.loadingGameOptions" class="divider"></li>
                                        <li ng-show="true" role="menuitem"><a ng-click="">Edit Details</a></li>
                                        <li ng-show="true" role="menuitem"><a ng-click="">Cancel Game</a></li>
                                    </ul>
                                </div>
                            </div>                 
                        </div>    
                        <!--<div class="results">
                            <table>
                                <thead>
                                    <tr>
                                        <th><span>Team A</span></th>
                                        <th><span>Team B</span></th>
                                        <th><span>Winner</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{game.teamAScore}}</td>
                                        <td>{{game.teamBScore}}</td>
                                        <td>{{game.winningTeamId==game.teamAId?'Team A':'Team B'}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{game.teamAScore + 5}}</td>
                                        <td>{{game.teamBScore +2 }}</td>
                                        <td>{{game.winningTeamId==game.teamAId?'Team A':'Team B'}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{game.teamAScore - 10}}</td>
                                        <td>{{game.teamBScore - 14}}</td>
                                        <td>{{game.winningTeamId==game.teamAId?'Team A':'Team B'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>--> <!-- Results Table -->
                        <ul class="tab-headers">
                            <li ng-class="{'active': $state.current.name.startsWith('gameDetails.players')}"><a ui-sref="gameDetails.players({gameId:gameDetVCtrl.gameId})" ng-click="">Players</a></li>
                            <li ng-class="{'active': $state.current.name.startsWith('gameDetails.photos')}"><a ui-sref="gameDetails.photos({gameId:gameDetVCtrl.gameId})" ng-click="">Photos/Videos</a></li>
                        </ul>              
                    </div>
                    <div class="bottom">

                        <!-- Sub-content will be inserted here -->
                        <ui-view></ui-view>

                    </div>
                </div> <!--/.tab-content-->
            </div> <!--/.media-body-->
            <div class="right-side-bar">
                <ng-include src="'views/shared/side-contents/featured-courts.html'"></ng-include>
            </div>
        </div> <!--/.media-->
    </div><!--/.tab-wrap-->
</div>