.details-block > .header{
    font-weight: bold;
    color: #2dc5c3;
}

.details-block .detail-group{
    display: block;
    overflow: auto;
}

@media(min-width: 768px) {

    .details-block .detail-group > * {
        display: inline-block;
        float: left;
    }

    .details-block .detail-group > label {
        width: 20%;
    }

    .details-block .detail-group > span {
        width: 80%;
    }
}

.details-block .detail-group > *{
    display: block;
}
