.details-block{
    width:100%;
    display:inline-block;
}
.details-block > .header{
    font-weight: bold;
    color: #777;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
}

.details-block .detail-group{
    /*border-bottom: 1px solid #eee;*/
}

.details-block .detail-group:first-child{
    /*border-top: 1px solid #eee;*/
}

.details-block .detail-group,
.details-block .action-buttons{
    display: inline-block;
    padding: 5px 0;
    width: 100%;
    float: left;
}

.details-block .detail-group > *{
    display: block;
}

.details-block .detail-group > label{
    color: #aaa;
}

.details-block .detail-group .value-field.full-width > * {
    width: 100%;
}

.details-block .edit-field{
    display: none;
} 

.details-block .detail-group label,
.details-block .detail-group .display-field,
.details-block .detail-group .edit-field{
    margin: 0;
    line-height: 22px;
    /*float:left;*/
}

.details-block .edit-field .input-field,
.details-block .edit-field.input-field {
    height: 22px;
    margin-bottom: 5px;
}

.details-block textarea.input-field.edit-field,
.details-block .edit-field textarea.input-field{
    height: 150px;
}

.details-block .action-buttons .btn.save,
.details-block .action-buttons .btn.cancel{
    display:none
}

.details-block .action-buttons .btn{
    margin-bottom: 5px;
    float: right;
    margin-left: 5px;
}

.details-block.on-edit-mode .edit-field{
    display:block;
}

.details-block.on-edit-mode input.edit-field{
    color: #333;
}

.details-block.on-edit-mode .detail-group:not(.read-only) .display-field{
    display:none;
}

.details-block.on-edit-mode .action-buttons .btn.save,
.details-block.on-edit-mode .action-buttons .btn.cancel{
    display:inline-block;
}

.details-block.on-edit-mode .action-buttons .btn.edit{
    display:none;
}


@media(min-width: 514px) {

    .details-block .detail-group > * {
        display: inline-block;
        float: left;
    }

    .details-block .action-buttons,
    .details-block .detail-group{
        clear:both;
    }


    .details-block .detail-group > label {
        width: 25%;
    }

    .details-block .detail-group > .value-field {
        width: 75%;
    }
}
