

/*************************
    Directive Overrides
**************************/

.ng-image-gallery.inline{
    padding-top: 15px;
}

@media(min-width: 767px) {
    .ng-image-gallery.inline .ng-image-gallery-modal {
        height: 400px;
    }
}

.ng-image-gallery .ng-image-gallery-modal .ng-image-gallery-content .destroy-icons-container{
    z-index: 1;
}

.ng-image-gallery.inline .destroy-icons-container,
.ng-image-gallery.inline .prev,
.ng-image-gallery.inline .next{
    background-color: #efefef;
}


.ng-image-gallery .ng-image-gallery-modal .ng-image-gallery-content .destroy-icons-container .control-button {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    vertical-align: bottom;
    text-align:center;
}

.ng-image-gallery .ng-image-gallery-modal .ng-image-gallery-content .destroy-icons-container .close:before{
    background-image:none;
}


.ng-image-gallery .ng-image-gallery-modal .ng-image-gallery-content .destroy-icons-container .control-button:hover {
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.1);
}

.ng-image-gallery .destroy-icons-container .control-button i{
    line-height: 30px;
    font-size: 20px;
    color:#aaa;
}



.ng-image-gallery .ng-image-gallery-thumbnails .thumb {
    border: 1px solid #ccc;
    position:relative;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb i{
    display:none;
    line-height: 1;
    background: rgba(0, 0, 0, .5);
    border-radius: 2px;
    float:right;
    margin-top: 2px;
    margin-right: 2px;
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb .delete-photo {
    color: #a94442;
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb .set-primary {
    color: #eee;
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb .primary-photo i.set-primary,
.ng-image-gallery .destroy-icons-container .primary-photo.control-button i.set-primary{
    display: inline-block;
    color: #36f636;
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb:hover i{
    display:inline-block;
}

.ng-image-gallery.inline .ng-image-gallery-modal .ng-image-gallery-content:before
{
    background: #d9d9d9;
    content: "";
    opacity: .7;
    display: block;
    height: 100%;
}

/* toaster */
#toast-container>div{
    opacity:1 !important;
}

/* ngMap */
.pac-container {
    z-index: 1100;
}