/*************************
*******Header******
**************************/
#header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

#main-nav .navbar-header, #main-nav .menu-container{
    float: left;
}

#main-nav .navbar-brand{
    padding: 6px 0;
}

#main-logo-full {
    
}

#main-logo-icon {
    display:none;
}

#header .search {
    display: inline-block;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

#main-nav .navbar-collapse{
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-nav {
    /*margin: 7.5px 0px;*/
}

@media (max-width: 767px) {

    #main-nav .navbar-header{
        margin: 5px 30px 5px 0;
    }

    

    .navbar-nav > li > a {
        width: 100%;
        border-radius: 0 !important;
    }
    
    #user-menu-mob{
        display:block;
    }
    
    #user-menu{
        display:none;
    }

    #user-menu .navbar-nav{
        margin: 0 !important;
    }

    #user-menu .navbar-nav .dropdown-toggle{
        height: 60px;
        padding: 16px 12px;
    }

    .navbar-inverse .navbar-nav .dropdown-menu{
        /*background-color:transparent !important;*/
    }
}

@media (max-width: 467px) {

    #main-logo-full {
        display:none;
    }

    #main-logo-icon {
        display:block;
    }
}

.container > .navbar-header {
    margin-bottom: 5px;
}

.top-bar {
    display: none;
    padding: 10px 0;
    background: #191919;
    border-bottom: 1px solid #222;
    line-height: 28px;
}

.top-number {
    color: #fff;
}

    .top-number p {
        margin: 0;
    }

.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
}

    ul.social-share li a {
        display: inline-block;
        color: #fff;
        background: #404040;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 2px;
    }

        ul.social-share li a:hover {
            background: #c52d2f;
            color: #fff;
        }

#profile_pic {
    height: 24px;
    width: 24px;
}

.search i {
    color: #fff;
}

input.search-form {
    background: transparent;
    border: 0 none;
    width: 60px;
    padding: 0 10px;
    color: #FFF;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

    input.search-form::-webkit-input-placeholder {
        color: transparent;
    }

    input.search-form:hover::-webkit-input-placeholder {
        color: #fff;
    }

    input.search-form:hover {
        width: 180px;
    }

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #151515;
    padding: 15px 0;
    padding-bottom: 0;
}

#show-login-btn-container{
    margin-top: 6px;
}

@media (min-width: 768px) {
    /*.navbar > .container > div {
        display: inline-block !important;
    }
    #categories-menu {
        margin-left: 35px;
    }

    .navbar-nav > li{
        margin-left: 10px !important;
        margin-bottom: -5px;
    }
    
    #user-menu{
        display:inline-block;
    }
    
    #user-menu-mob{
        display:none;
    }*/
}

/*Cancels responsiveness of the navbar*/

#main-nav .menu-container, #main-nav .navbar-header{
    display:inline-block !important;
}

#main-nav .navbar-header{
    margin-right: 20px;
    margin-bottom: 0 !important;
}


#main-nav .navbar-brand>img{
    height:100%;
}

#main-nav .menu-container{
    
    margin:0 !important;
}

#main-nav .navbar-toggle{
    display:none !important;
}

#main-nav .navbar-nav {    
    margin-top: 6px;
}

.navbar-nav > li {
    /*margin-left: 35px;*/
    display:inline-block;
    float:left !important;
    padding-bottom: 18px;
    margin-left: 5px !important;
}

#user-menu-mob{
    display:none !important;
}

#user-menu{
    display:inline-block !important;
    float:right;
}

@media (max-width: 767px) {
    #main-nav{
        padding: 0;
    }

    #show-login-btn-container{
        margin-top: 12px;
    }

    #main-nav #categories-menu{
        margin:0px;
    }

    #main-nav .menu-text{
        display:block;
        font-size: 12px;
    }
    
    #main-nav .navbar-nav > li{
        padding-bottom: 0;
    }


    .navbar-inverse .navbar-nav > li > a {
        text-align: center;
    }

}

/*Cancels responsiveness of the navbar*/

.navbar-inverse .navbar-nav > li > a, #show-login-btn {
    padding: 5px 8px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
}

#show-login-btn:hover {
    color: #fff;
}
#show-login-btn {
    color: #999999;
}

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .dropdown-menu > li > a:hover {
        background-color: #c52d2f !important;
        color: #fff;
    }

.navbar-inverse {
    border: none;
}

    .navbar-inverse .navbar-brand {
        font-size: 36px;
        line-height: 50px;
        color: #fff;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus
    /*.navbar-inverse .navbar-nav > .open > a,*/
    /*.navbar-inverse .navbar-nav > .open > a:hover,*/
    /*.navbar-inverse .navbar-nav > .open > a:focus */{
        background-color: #c52d2f;
        color: #fff;
    }

    .navbar-inverse .navbar-nav > .active > a {
        font-weight: bold;
        text-decoration: underline;
    }

    .navbar-inverse .navbar-nav .dropdown-menu {
        background-color: rgba(0,0,0,.85);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
        -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
        border: 0;
        padding: 0;
        margin-top: 0;
        border-top: 0;
        border-radius: 0;
        left:initial !important;
        right: 0;
        position:absolute;
    }

        .navbar-inverse .navbar-nav .dropdown-menu:before {
            position: absolute;
            top: 0;
        }

        .navbar-inverse .navbar-nav .dropdown-menu > li > a {
            padding: 8px 15px;
            color: #fff;
        }

        .navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
        .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
        .navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
            background-color: #c52d2f;
            color: #fff;
        }

        .navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
            border-radius: 0 0 3px 3px;
        }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-top: 0;
        padding-bottom: 0;
    }