/*************************
*******Header******
**************************/
#header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    box-shadow: 0px 2px 2px #1d1d1d;
    min-width: 320px;
    background: #282828;
}

#main-nav .navbar-header{
    margin: 0;
}

#main-nav .navbar-header, #main-nav .menu-container{
    float: left;
}

#user-menu{
    padding-left: 0;
    padding-right: 0;
}

#main-nav .navbar-brand{
    padding: 6px 0;
}

#main-logo-full {
    
}

#main-logo-icon {
    display:none;
}

#header .search {
    display: inline-block;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

#main-nav .navbar-collapse{
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-nav {
    /*margin: 7.5px 0px;*/
}

@media (min-width: 992px) and (max-width: 1199px) {
     .container {
        width: 100%;
    }
}

@media (max-width: 767px) {

    #main-nav .navbar-header{
        /*margin-right: 30px;*/
    }

    

    .navbar-nav > li > a {
        width: 100%;
        border-radius: 0 !important;
    }
    
    #user-menu-mob{
        display:block;
    }
    
    #user-menu{
        display:none;
    }

    #user-menu .navbar-nav{
        margin: 0 !important;
    }

    #user-menu .navbar-nav .dropdown-toggle{
        /*height: 60px;
        padding: 16px 12px;*/
    }

    #main-nav .navbar-nav .dropdown-menu{
        /*background-color:transparent !important;*/
    }
}

@media (max-width: 467px) {

    #main-logo-full {
        display:none;
    }

    #main-logo-icon {
        display:block;
    }
}

.container > .navbar-header {
    margin-bottom: 5px;
}

.top-bar {
    display: none;
    padding: 10px 0;
    background: #191919;
    border-bottom: 1px solid #222;
    line-height: 28px;
}

.top-number {
    color: #fff;
}

    .top-number p {
        margin: 0;
    }

.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

ul.social-share li a:hover {
    background: #c52d2f;
    color: #fff;
}

#profile_pic {
    height: 24px;
    width: 24px;
}

.search i {
    color: #fff;
}

input.search-form {
    background: transparent;
    border: 0 none;
    width: 60px;
    padding: 0 10px;
    color: #FFF;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

    input.search-form::-webkit-input-placeholder {
        color: transparent;
    }

    input.search-form:hover::-webkit-input-placeholder {
        color: #fff;
    }

    input.search-form:hover {
        width: 180px;
    }

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: transparent;
    padding-bottom: 0;
}

#show-login-btn-container{
    margin-top: 6px;
}

@media (min-width: 768px) {    

    #main-nav .navbar-header{
        width: 160px;
    }

    #main-nav .navbar-right{
        margin-right: 0;
    }

}

/*Cancels responsiveness of the navbar*/

#main-nav .menu-container, #main-nav .navbar-header{
    display:inline-block;
}


#main-nav .navbar-brand>img{
    height:100%;
    margin: 0 auto;
}

#main-nav .menu-container{
    padding: 0 15px;
    margin:0 !important;
}

#main-nav .navbar-toggle{
    display:none !important;
}

.navbar-nav > li {
    /*margin-left: 35px;*/
    display:inline-block;
    float:left !important;
    padding-bottom: 18px;
    margin-left: 5px !important;
    padding: 12px 0 13px;
}

#user-menu-mob{
    display:none !important;
}

#user-menu{
    display:inline-block !important;
    float:right;
}

#main-nav .navbar-nav > li > a,
#show-login-btn,
#main-nav .dropdown-toggle{
    padding: 5px 8px;
    margin: 0;
    border-radius: 3px;
    color: #777;
    line-height: 24px;
    display: inline-flex;
    background-color: transparent !important;
}

@media (max-width: 767px) {
    #main-nav{
        padding: 0;
    }

    #show-login-btn-container{
        margin-top: 12px;
    }

    #main-nav #categories-menu{
        margin:0px;
    }

    #main-nav .menu-icon{
        display: inline;
    }


    #main-nav .menu-text,
    #main-nav .username{
        display:block;
        font-size: 12px;
    }
    
    #main-nav .navbar-nav > li{
        padding: 0;
    }


    #main-nav .navbar-nav > li > a {
        text-align: center;
    }

    #main-nav .navbar-nav > li > a,
    #show-login-btn,
    #main-nav .dropdown-toggle {
        display: inline-block;
    }


}

@media(max-width:374px){
    #main-nav .navbar-header{
        display:none;
    }

    #main-nav .menu-container,
    #main-nav > .container{
        padding: 0;
    }
}


#show-login-btn:hover {
    color: #fff;
}
#show-login-btn {
    color: #999999;
}

    #main-nav .navbar-nav > li > a:hover,
    #main-nav .dropdown-menu > li > a:hover {
        color: #2dc5c3;
    }

#main-nav {
    border: none;
}

#main-nav .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
    width: 100%;
    height: 60px;
}

#main-nav .navbar-nav > .active > a,
#main-nav .navbar-nav > .active > a:hover,
#main-nav .navbar-nav > .active > a:focus
/*#main-nav .navbar-nav > .open > a,*/
/*#main-nav .navbar-nav > .open > a:hover,*/
/*#main-nav .navbar-nav > .open > a:focus */{
    color: #2dc5c3;
}

#main-nav .navbar-nav > .active > a {
    font-weight: bold;
}

#main-nav .navbar-nav > .active > a .menu-text{
    text-decoration: underline;
}

#main-nav .navbar-nav .dropdown-menu {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left:initial !important;
    right: 0;
    position:absolute;
}

#main-nav .navbar-nav .dropdown-menu:before {
    position: absolute;
    top: 0;
}

#main-nav .navbar-nav .dropdown-menu > li > a {
    padding: 8px 15px;
    color: #777;
}

#main-nav .navbar-nav .dropdown-menu > li:hover > a,
#main-nav .navbar-nav .dropdown-menu > li:focus > a,
#main-nav .navbar-nav .dropdown-menu > li.active > a {
    color: #777;
}

#main-nav .navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

#main-nav .navbar-collapse,
#main-nav .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}