@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

/*Old Red: #c52d2f*/



/*************************
    Generics
**************************/

body{
    min-width: 320px;
}

p{
    /*background-color: #fff;*/
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.opaque{
    background-color: #fff;
}

.text-container{
    background-color: #fff;
}

.faded-bg{
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.block{
    display: block !important;
}

.sm-form-group{
    display:inline-block;
    width: 250px;
    vertical-align:top;
}

.help-block{
    display:none;
}

.has-error .help-block{
    display:block;
}

.button-link{
    color: #666;
    cursor: pointer;
    line-height: 30px;
    text-decoration:underline;
}

.button-link:hover{
    text-decoration:none;
    color: #666;
}

.form-group .map-container{
    margin-top: 10px;
}

.form-control{
    height: 28px;
    padding: 4px 12px;
}

.btn {
    padding: 4px 8px;
}

div.image-with-bg{
    display: block;
    height:180px;
    overflow: hidden;
    position: relative;
    background: url(http://localhost:52964/files/uploads/images/1.jpg);
    background-size: cover;
}

.image-with-bg::after{
    background: #d9d9d9;
    content: "";
    opacity: .7;
    display: block;
    height: 100%;
}

.image-with-bg img{
    position: absolute;
    max-width: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 2;
}

.menu-item a>span{
    display:inline-block;
}

.menu-icon{

}

.menu-icon::before {
    content: "";
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 24px;
    min-width: 24px;
    vertical-align: middle;
    margin-right: 3px;
}

.menu-icon.game-icon::before {
    background-image: url('../images/icons/games-icon.svg');
}

.menu-icon.court-icon::before {
    background-image: url('../images/icons/court-icon-inclined.svg');
}

.menu-icon.player-icon::before{
    background-image: url('../images/icons/basketball-player.svg');
}

.clickable {
    cursor: pointer;
}

* > .show-on-hover{
    display:none;
}

*:hover > .show-on-hover{
    display:block;
}

@media(max-width:991px){
    
    * > .show-on-hover{
        display:block;
    }
    
}

/*****************
    Modals
*****************/

.modal-dialog .modal-header > * {
    display: inline-block;
}

.modal-dialog .modal-header > .close-button {
    float:right;
}




/*************************
      Body
**************************/

body{
    /*background: url("../images/backgrounds/1.jpg") fixed center;*/
    /*background-color:transparent;
    background-image:url("../images/backgrounds/1.jpg");*/
}



/*************************
*******Content******
**************************/

#content{
    margin-top: 60px;
    min-height: 500px;
    /*background-color: rgba(255, 255, 255, 0.75);*/
    /*width: 100%;*/
    padding-top: 15px;
}

@media(max-width: 519px){
    #content {
        padding: 15px 0;
    }
}


.left-side-bar{
    width: 160px;
}

@media(max-width: 767px){
    #content {
        margin-top: 60px;
    }

    .extra-content{
        display: none !important;
    }

    .left-side-bar{
        width: 100%;
    }
}

.center-content{
    width:680px;
    padding: 0 15px;
}

.right-side-bar{
    width: 300px;
}

@media(max-width: 1199px) {
    .center-content{
        width: 480px;
        clear: none !important;
    }
}

@media(max-width: 991px) {
    .center-content {
        width: 560px;
        clear: none !important;
    }

    .right-side-bar {
        display: none !important;
    }
}

@media(max-width: 767px) {
    .center-content {
        padding: 0;
    }
}

/*************************
*******Left side bar******
**************************/

.left-side-bar .tab-headers {
    margin-bottom: 10px;
    width: 100%;
}

@media(max-width: 767px) {
    .left-side-bar .tab-headers {
        margin-bottom: 0;
    }
}

.left-side-bar .side-content {
    display: block;
    clear: both;
}

.left-side-bar .extra-content li {
    height: 22px;
}

/*************************
*******Home Page******
**************************/





/***********************
********* Footer ******
************************/
#bottom {
    background: #f5f5f5;
    border-bottom: 5px solid #c52d2f;
    font-size: 14px;
}

    #bottom h3 {
        margin-top: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 22px;
        color: #000;
    }

    #bottom ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #bottom ul li {
            display: block;
            padding: 5px 0;
        }

            #bottom ul li a {
                color: #808080;
            }

                #bottom ul li a:hover {
                    color: #c52d2f;
                }

    #bottom .widget {
        margin-bottom: 0;
    }

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #2e2e2e;
}

    #footer a {
        color: #fff;
    }

        #footer a:hover {
            color: #c52d2f;
        }

    #footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #footer ul > li {
            display: inline-block;
            margin-left: 15px;
        }
