@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

/*Old Red: #c52d2f*/



/*************************
    Generics
**************************/

body{
    font-size: 12px;
    line-height: 22px;
    background-color: #333;
}

.std-container{
    padding: 15px;
    background-color: #fff;
}

.color-primary{
    color:#2dc5c3 !important;
}

p{
    /*background-color: #fff;*/
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

select, option{
    color: #333;
}

a:hover, a:focus{
    color: inherit;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.opaque{
    background-color: #fff;
}

.text-container{
    background-color: #fff;
}

.faded-bg{
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.block{
    display: block !important;
}

.inline-block{
    display: inline-block;
}

.full-width{
    /*width: 100% !important;*/
}

.sm-form-group{
    display:inline-block;
    width: 250px;
    vertical-align:top;
}

.help-block{
    display:none;
}

.has-error .help-block{
    display:block;
}

.button-link{
    /*color: #666;*/
    cursor: pointer;
    /*line-height: 20px;*/
    text-decoration:underline;
}

.button-link:hover{
    text-decoration:none;
    /*color: #666;*/
}

.form-group .map-container{
    margin-top: 10px;
}

.form-control{
    height: 28px;
    padding: 4px 12px;
}

.form-inline .form-group{
    margin-bottom: 15px;
}

.form-sub-group{
    display: inline-block;
}

.radio-group{
    display: inline-block;
}

.btn {
    padding: 4px 8px;
    border-radius: 0;
    font-size: 12px;
}

div.image-with-bg{
    display: block;
    height:180px;
    overflow: hidden;
    position: relative;
    background: url(http://localhost:52964/files/uploads/images/1.jpg);
    background-size: cover;
}

.image-with-bg::after{
    background: #d9d9d9;
    content: "";
    opacity: .7;
    display: block;
    height: 100%;
}

.image-with-bg img{
    position: absolute;
    max-width: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 2;
}

.menu-item a>span{
    display:inline-block;
}

.menu-icon{

}

.menu-icon::before {
    content: "";
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 24px;
    min-width: 24px;
    vertical-align: middle;
    margin-right: 3px;
}

.menu-icon.game-icon::before {
    background-image: url('../images/icons/games-icon.svg');
}

.menu-icon.court-icon::before {
    background-image: url('../images/icons/court-icon-inclined.svg');
}

.menu-icon.player-icon::before{
    background-image: url('../images/icons/basketball-player.svg');
}

.clickable {
    cursor: pointer;
}

* > .show-on-hover{
    display:none;
}

*:hover > .show-on-hover{
    display:block;
}

rating{
    color: #e8e812;
}

@media(max-width:991px){
    
    * > .show-on-hover{
        display:block;
    }
    
}

.loader{
    -webkit-animation: spin 2s linear infinite;
    animation: spin-cc 2s linear infinite;
}

/*****************
    Animations
*****************/

@-webkit-keyframes spin-cc {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin-cc {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*****************
    Dropdowns
*****************/
.dropdown-menu > li > a {
    padding: 5px;
    display: block;
}

/******************
    hr-sect
******************/
.hr-sect{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #999;
    margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after{
    content: "";
    flex-grow: 1;
    background: #999;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}



/*****************
    Modals
*****************/

.modal-dialog .modal-header > * {
    display: inline-block;
}

.modal-dialog .modal-header > .close-button {
    float:right;
}

/**********************
    Social buttons
**********************/

.btn-social > span:nth-child(2) {
    margin-left: 32px;
}

/*********************
    List Item Options    
**********************/

.list-item-options{
    /*float:right;*/
    position: absolute;
    top: 0px;
    right: 0;
}

.list-item-options .dropdown-menu{
    color: #333;
    right: 0;
    left: initial;
    min-width: 0px;
    line-height: 16px;
    font-size: 12px;
}

.list-item-options .dropdown-toggle{
    background: transparent;
    color: #999;
    border: 1px solid #999;
    border-radius: 0;
    line-height: 16px;
    padding: 0 5px;
    float: right;
    display: inline-block;
}

/*********************
    Titled Container    
**********************/

.titled-container{
    display:inline-block;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    background: #3c3c3c;
    color: #ccc;
}

.titled-container .header{
    margin: 10px 0;
    overflow: auto;
    float: none;
}

.titled-container .header .title{
    display: inline-block;
    margin:0;
    color: #999;
    line-height: 22px;
    max-height: 3.9em;
    overflow: hidden;
    float: left;
}

.titled-container .header .action-buttons{
    float: right;
}

.titled-container .filters{
    display: inline-block;
    float: right;
}

.titled-container .filters > .filter{
    opacity: 0.7;
}

.titled-container .filters > .filter.active{
    text-decoration: none;
    opacity: 1;
}

/*************************
      Dropdown Menus
**************************/
.options-dropdown.loading .dropdown-menu li{
    display: none;
}

.options-dropdown.loading .dropdown-menu li.loading-indicator{
    display: list-item;
}

.options-dropdown .dropdown-menu li.loading-indicator{
    display: none;
}


/*************************
      Body
**************************/

body{
    /*background: url("../images/backgrounds/2.jpg") fixed center;*/
    /*background-color:transparent;
    background-image:url("../images/backgrounds/1.jpg");*/
}



/*************************
*******Content******
**************************/

#content{
    margin-top: 60px;
    min-height: 500px;
    background: rgba(34, 34, 34, 0.81);
    /*width: 100%;*/
    padding-top: 15px;
}

@media(max-width: 519px){
    #content {
        padding: 15px 0;
    }
}


.left-side-bar{
    width: 160px;
}

@media(max-width: 767px){
    #content {
        margin-top: 60px;
    }

    .extra-content{
        display: none !important;
    }

    .left-side-bar{
        width: 100%;
    }
}

.center-content{
    width:680px;
    padding: 0 15px;
}

.right-side-bar{
    width: 300px;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .tab-wrap .media .parrent.media-body {
        clear:none;
    }
}

@media(max-width: 1199px) {
    /*.center-content{
        width: 480px;
        clear: none !important;
    }*/
}

@media(min-width: 992px) {
    #content {
        width: 1170px;
    }
}

@media(max-width: 991px) {
    .center-content {
        width: 560px;
        clear: none !important;
    }

    .right-side-bar {
        display: none !important;
    }
}

@media(max-width: 767px) {
    .center-content {
        padding: 0;
    }
}

/*************************
*******Left side bar******
**************************/

.left-side-bar .tab-headers {
    margin-bottom: 10px;
    width: 100%;
}

@media(max-width: 767px) {
    .left-side-bar .tab-headers {
        margin-bottom: 0;
    }
}

.left-side-bar .side-content {
    display: block;
    clear: both;
}

.left-side-bar .extra-content li {
    height: 22px;
}

/*************************
*******Home Page******
**************************/





/***********************
********* Footer ******
************************/
#bottom {
    background: #f5f5f5;
    border-bottom: 5px solid #c52d2f;
    font-size: 14px;
}

    #bottom h3 {
        margin-top: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 22px;
        color: #000;
    }

    #bottom ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #bottom ul li {
            display: block;
            padding: 5px 0;
        }

            #bottom ul li a {
                color: #808080;
            }

                #bottom ul li a:hover {
                    color: #c52d2f;
                }

    #bottom .widget {
        margin-bottom: 0;
    }

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #2e2e2e;
}

    #footer a {
        color: #fff;
    }

        #footer a:hover {
            color: #c52d2f;
        }

    #footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #footer ul > li {
            display: inline-block;
            margin-left: 15px;
        }
