.side-content{
    /*background-color: #fff;*/
}

.side-content > h4{
    color: #777;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    line-height: 30px;
    /*border-bottom: 1px solid #eee;*/
    /*border-radius: 4px;*/
}

.side-content ul {
    padding: 0;
}

.side-content li{
    list-style: none;
    height: 22px;
}

.side-content li:hover {
    background-color: #eee;
}

.side-content li a {
    line-height: 22px;
    text-decoration: none;
    padding: 0 10px;
    display: block;
}